/* Add application styles & imports to this file! */

h1 { 
  text-align: center;
  font-size: 70px;
  font-family: Garamond;
  color: green;
  text-shadow: 2px 2px 5px green;
}
h2{
  text-align: left;
}

p{
  font-family: verdana;
  font-size: 20px;
  text-indent: 30px;
}

body {
    text-align: center;
  }

.smartphone {
  overflow: auto;
  position: relative;
  width: 360px;
  height: 640px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}

.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

.smartphone .content {
  width: 360px;
  height: 640px;
  background: white;
}

